{% extends "base.html" %}

{% block content %}

<div class="category detail">
    <form method="post" action="" class="w-100">
        {% csrf_token %}
        <div class="form-group">
            <label for="category_name">Category:</label>
            <p class="mx-3">{{ Category.category_name }}</p>
        </div>
        <div class="form-group">
            <label for="notes">Notes:</label>
            <p class="mx-3">{{ Category.notes }}</p>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

{% endblock %}
