<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <title>Shopping list</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
</head>
<body>
    Where are you going shopping?<br>
    <input id="shop-input" type="text" size="100"><br>
    <input id="shop-submit" type="button" value="Select a shop">

    <script>
        document.querySelector('#shop-input').focus();
        document.querySelector('#shop-input').onkeyup = function(e) {
            if (e.key === 'Go to shop') {  
                document.querySelector('#shop-submit').click();
            }
        };

        document.querySelector('#shop-submit').onclick = function(e) {
            var shopName = document.querySelector('#shop-input').value;

            window.location.pathname = '/shop/' + shopName + '/';
        };
    </script>
</body>
</html>