{% extends "base.html" %}

{% block content %}

<div class="col-12 mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="row">

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal">Add a new product</button>
        <h1 class="mx-auto">Products</h1>
      </div>
      <div class="row">
        <form id="product-list-form" method="POST" action="{% url 'add_to_shopping_list' %}" class="w-100">
          {% csrf_token %}
          {% for category, product_list in grouped_products.items %}
            <!-- Category heading -->
            <h3 class="mt-4">{{ category }}</h3>
            <ul class="list-group list-group-flush mx-lg-3">
              {% for product in product_list %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <span>
                    <a class="link-success link-opacity-30-hover link-underline-opacity-10"
                      href="{% url 'product_detail' slug=product.slug %}">{{ product.product_name }}</a>
                  </span>
                </div>
                <div>
                  <input type="checkbox" name="selected_products" class="add-to-list" value="{{ product.id }}">
                </div>
              </li>
              {% endfor %}
            </ul>
          {% endfor %}
          <button type="submit" id="add-product-to-list" class="btn btn-primary mt-3" disabled>Add marked product(s) to shopping list</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal to allow user to add product to the product list -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Add a new product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="add-product-form" method="POST" action="{% url 'add_product' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="product_name" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="product_name" name="product_name" required>
          </div>
        
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="category" required>
              {% for category in categories %}
                <option value="{{ category.id }}">{{ category.category_name }}</option>
              {% endfor %}
            </select>
          </div>
        
          <div class="mb-3">
            <label for="default_shop" class="form-label">Default Shop</label>
            <select class="form-select" id="default_shop" name="default_shop" required>
              {% for shop in shops %}
                <option value="{{ shop.id }}">{{ shop.shop_name }}</option>
              {% endfor %}
            </select>
          </div>
        
          <div class="mb-3">
            <label for="default_unit" class="form-label">Default Unit</label>
            <input type="text" class="form-control" id="default_unit" name="default_unit" required>
          </div>
        
          <div class="mb-3">
            <label for="default_quantity" class="form-label">Default Quantity</label>
            <input type="number" class="form-control" id="default_quantity" name="default_quantity" value="1" required>
          </div>

          <div class="mb-3"></div>
            <label for="default_quantity" class="form-label">Notes</label>
            <input type="text" class="form-control" id="default_quantity" name="default_quantity">
          </div>
        
          <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Toast for error notification -->
  <div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" id="errorToast" style="position: absolute; top: 20px; right: 20px;">
    <div class="d-flex">
      <div class="toast-body">
        {{ form.product_name.errors.0 }}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_js %}

<!--javascript to toggle filter enabled<->disabled: Runs any time a checkbox status is changed -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const chkbxs = document.querySelectorAll('.add-to-list');
      const addBtn = document.getElementById('add-product-to-list');

      // Enable add-product button if any checkbox is enabled, disable it otherwise
      function toggleButtonState() {
          const anythingChecked = Array.from(chkbxs).some(checkbox => checkbox.checked);
          addBtn.disabled = !anythingChecked;
      }

      toggleButtonState();
  
      // Listen for changes on any checkbox
      chkbxs.forEach(checkbox => {
          checkbox.addEventListener('change', toggleButtonState);
      });
  });
  </script>

  <!--javascript to run toast so that the user knows when a new product has failed to be saved 
  (because its name is identical to an existing one) -->
  {% if form.errors %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Only executed if there are errors in the form
        var errorToast = new bootstrap.Toast(document.getElementById('errorToast'));
        errorToast.show();
      });
    </script>
  {% endif %}
{% endblock %}
