/*
    Custom styles
*/

.empty-block {
    display: inline-block;
    width: 25px;
    height: 10px;
    margin-bottom: 5px;
}

.bold-text {
    font-weight: bold;
}

.text-muted {
    color: #6c757d;
}

.bought-text {
    text-decoration: line-through;
    text-decoration-color: rgba(119,119,119, 30);
    text-decoration-thickness: 2px;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff;
    background-color: #e9ecef;
    border-radius: 4px;
}

a.link-success {
    text-decoration: none;
}

a.link-success:hover {
    text-decoration: underline;
}

a.custom-link {
    color: #004225;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

a.custom-link:hover {
    text-decoration: underline;
}

a.custom-link.text-muted {
    font-weight: normal !important;
    color: #6c757d !important;
    text-decoration: none !important;
}

@media (max-width: 576px) {
    #product-name {
        margin-left: 20px !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #product-name {
        margin-left: 80px !important;
    }
}

@media (min-width: 769px) {
    #product-name {
        margin-left: 140px !important;
    }
}
